In [2]:
import pandas as pd
Location = "datasets/all_040_in_24.P1.csv"
df = pd.read_csv(Location, header=None)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000
1,24,040,24,NaN,NaN,NaN,NaN,NaN,Maryland,5773552,2378814,5296486,2145283,5773552,5296486